h1 {
    padding: 15px;
    margin: 20px;
}

#jsondata {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    table-layout: auto;
    overflow: hidden;
}

#jsondata td, #jsondata th {
    border: 1px solid #ddd;
    padding: 25px;
}

#jsondata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#jsondata a {
    text-decoration: none;
    color: red;
}

#jsondata a:hover {
    color: darkred;
}